.mock-interview__rightSectionContent {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.34);
  padding: 1.25rem;
  border-radius: 5px;
}

.mock-interview__rightSectionContent__header {
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $primaryBlue;
  }

  span {
    color: #39424e;
    font-weight: 300;
    font-size: 1rem;
  }
  .color {
    color: $primaryBlue;
  }
}

.selection-button {
  display: flex;
  margin-top: 2.5rem;
  button {
    margin-right: 1rem;
  }
}
