$primaryBlack: #39424e;
$primaryBlue: #1ba94c;

.hrinfoinhomepage {
  h5 {
    height: 32px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #39424e;
    margin-bottom: 107px;
  }
}
