$font: 'Roboto', sans-serif;
$primary: #333;
$secondary: #999;
$primaryBlack: #39424e;
$primaryBlue: #1ba94c;
$primaryYellow: #e5af42;
$primaryRed: #e55842;
$extraLight: #b2bac5;
$midLight: #939fae;
$lightGrey: #738f93;
$light: #f2f2f2;
$hover: #006621;
